body {
  font-family: monospace;
  height: 100vh;
  width: 100vw;
  animation: change-background 1.5s ease infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pp {
  height: 40%;
  width: 20%;
  display: flex;
  justify-content: right;
  transition: 0.5s;
  margin: 20px;
}
.pp:hover {
  transform: scale(1.3) rotate(3600deg);
  transition: 0.5s;
}

.pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.paragraph {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

h1 {
  color: white;
}
.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
@keyframes change-background {
  0% {
    background: green;
  }
  20% {
    background: red;
  }
  40% {
    background: orange;
  }

  60% {
    background: red;
  }
  80% {
    background: orange;
  }
  100% {
    background: blue;
  }
}
